/*公用样式*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}
/*topbar*/
.topBar{height:31px;background-color:#F7F7F7;line-height:31px;}
.collection{background:url(../images/icon/collection.jpg) left center no-repeat;padding-left:19px;font-weight:bold;}
.topBar a:hover{color:red;}
/*logobar*/
.logoBar{height:85px;background-color:#1D7AD9;}
.logo{padding-left:41px;padding-top:13px;}
.search_box{width:430px;margin-top:23px;margin-left:185px;}
.search_text{width:350px;height:35px;line-height:35px\9;background:#fff;padding:0 5px;}
.search_btn{width:70px;height:35px;font-size:14px;font-family:"微软雅黑";background-color:#FF8C00;color:#FFF;}
.shopCar{width:145px;height:35px;background-color:#FF8C00;font:14px/35px "微软雅黑", "Microsoft YaHei";color:#fff;margin-top:23px;margin-right:59px;}
.shopText{height:100%;width:87px;border-right:#E27A00 1px solid;background:url(../images/icon/shopcar.jpg) 10px center no-repeat;text-indent:40px;}
.shopNum{height:35px;width:27px;border-left:#FF9C01 1px solid;background:url(../images/icon/shopnum.jpg) 33px center no-repeat;text-align:right;padding-right:29px;}
/*导航*/
.navBox{height:35px;background-color:#1369C0;}
.shopClass{width:190px;position:relative;}
.shopClass h3{color:#fff;line-height:35px;text-align:center;font-family:"微软雅黑", "Microsoft YaHei";}
.shopClass i{width:11px;height:7px;background:url(../images/icon/down.jpg) left center no-repeat;display:inline-block;margin-left:11px;}
.nav li{height:35px;line-height:35px;float:left;font-size:14px;}
.nav a{display:inline-block;color:#fff;padding:0 25px;}
.nav .active{background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_show{background-color:#4593FD;position:absolute;left:0;top:35px;width:100%;}
.shopClass_item{padding:13px 10px;border-bottom:#3487F2 1px solid;border-top:#5AA1FE 1px solid;line-height:16px;}
.shopClass_item dt{height:21px;line-height:1;background:url(../images/icon/right-angle.jpg) right center no-repeat;}
.shopClass_item .b{font-family:"微软雅黑", "Microsoft YaHei";font-size:14px;font-weight:bold;}
.shopClass_item a{color:#fff;}
.shopClass_item a:hover{text-decoration:underline;}
.shopClass_item .aLink{width:48px;height:20px;background:url(../images/icon/aLink.png) left center no-repeat;display:inline-block;text-align:center;line-height:20px;text-decoration:underline;}

/*shopClass_item 点击状态*/
.shopClass_active{background-color:#fff;border-left:1px solid #4593FD;}
.shopClass_active dt{background:none;}
.shopClass_active a{color:#000;}
.shopClass_active .aLink{color:#fff;text-decoration:none;}
/*商品列表*/
.shopClass_list{width:568px;border:1px solid #ccc;margin-left:190px;}
.shopList_cont{margin:2px 20px;}
.shopList_item{border-bottom:1px solid #ccc;padding:10px 0;overflow:hidden;}
.shopList_item dt{font-weight:bold;height:24px;line-height:24px;}
.shopList_item dt a{color:#4B88DA;}
.shopList_item dd{margin-left:68px;line-height:24px;float:left;margin-top:-24px;}
.shopList_item dd a{margin-right:12px;}
.shopList_links{margin:16px 0;}
.shopList_links a{color:#fff;display:inline-block;background-color:#2785E6;height:26px;line-height:26px;font-size:12px;padding:0 14px 0 8px;margin-right:10px;}
.shopList_links span{width:5px;height:8px;background:url(../images/icon/right-angle1.jpg) left center no-repeat;display:inline-block;margin-left:7px;}

/*banner部分*/
.banner_bar{float:right;position:relative;overflow:hidden;}
.imgBox{position:absolute;left:0;top:0;}
.imgBox li{float:left;clear: both;}
.imgBox img{display:block;}
.imgNum{position:absolute;left:0;bottom:15px;width:100%;text-align:center;}
.imgNum a{width:20px;height:5px;background-color:#fff;display:inline-block;margin:0 3px;}
.imgNum .active{background-color:#FF6600;}
.banner_big,.banner_big img{width:810px;height:326px;}
.banner_big .imgBox{width:1620px;height:326px;}
.banner_sm,.banner_sm img{width:190px;height:400px;}
/*.banner_sm .imgBox{width:380px;height:390px;}*/

/*商品标题*/
.shopTit{height:44px;font-family:"微软雅黑", "Microsoft YaHei UI";line-height:44px;margin-top:15px;margin-bottom:15px;}
.shopTit h3{font-weight:normal;font-size:24px;padding-left:14px;float:left;}
.icon{width:44px;height:44px;background:url(../images/icon/shoptit.jpg) left top no-repeat;float:left;}
.more{float:right;font-family:"宋体";margin-right:10px;}
.more:hover{text-decoration:underline;}

/*商品列表*/
.shopList .leftArea{width:190px;overflow:hidden;}
.shopList .rightArea{width:808px;border-top:#999 solid 1px;border-bottom:#FF7201 solid 3px;overflow:hidden;float:left;}
.products .rightArea{width: 808px;}
.hr_7{clear: both;height: 7px;}

/*商品列表-右侧*/

.shop_item{border-right:#999 solid 1px;/*border-top:#999 solid 1px;*/width:201px;height:276px;overflow:hidden;text-align:center;font-family:"微软雅黑", "Microsoft YaHei UI";float:left;}
.shop_item h3{font-size:16px;}
.shop_item p{line-height:22px;color:#FF7201;}

/*商品列表-小*/

.shopItem_sm{border-right:#999 solid 1px;border-top:#999 solid 1px;/*border-bottom:#FF7201 solid 3px;*/width:201px;height:120px;float:left;}
.shopItem_smimg{width:95px;height:95px;float:left;}
.shopItem_smimg img{width:95px;height:95px;text-align:center;}
.shopItem_text{padding-top:28px;width:100px;float:left;}
.shopItem_text p{color:#FF6666;}
.shopItem_text h3{line-height:24px;font-size:16px;}

/*底部*/
.hr{height:40px;}
.footer{height:222px;background-color:#D4D4D4;text-align:center;}
.footer p{line-height:24px;}
.footer_text{padding-top:50px;}
.footer_text span{font-size:16px;}
.footer_img{margin_top:34px;}
.footer_img img{margin-top:30px;margin-right:15px;}

/*产品分类*/
.products{margin-top: 15px;}
.leftArea{width:185px;background-color: #F3F3F3;overflow: hidden;}
.leftNav{border:#ccc solid 1px;overflow: hidden;}
.nav_tit{height:35px;line-height: 35px;text-align: center;border-bottom: #ccc solid 1px;}
.nav_cont h3{height: 32px;line-height: 32px;margin-left: 20px;margin-top: 5px;}
.nav_cont{margin-bottom: -1px;border-bottom: #ccc dotted 1px;}
.navCont_list{margin-left: 20px;}
.navCont_list li{height: 24px;line-height: 24px;float: left;width: 80px;text-align: left; }

/*产品分类详情*/
.products_tit{border-bottom: #CCC solid 2px;}
.products_tit h3{width:180px;height: 35px;line-height: 35px;text-indent: 9px;border-bottom: #1F0895 solid 2px;margin-bottom: -2px;}
.products_item{width: 182px;float: left;}
.products_cont{width: 182px;overflow: hidden;padding: 0 10px;float: left;}
.productsItem_img{margin-bottom: 10px; height: 174px;}
.productsItem_img img{height: 174px;}
.introduction{margin-bottom: 18px;}
.productsCont .price{color: #D6105A;font-weight: bold;}
.productsCont .star{background: url(../images/icon/star.png) left top no-repeat;display: inline-block;width: 12px;height: 12px;margin-right: 2px;}
.productsCont .comment{color: #7883D2;}
.productsCont .introduction:hover,
.productsCont .comment:hover{text-decoration: underline; }
